.Button {
  background-color: #bb86fc;
  outline: none;
  border: none;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 1rem;
  color: #000000;
  cursor: pointer;
  transition: all 0.4s;
  svg {
    font-size: 3rem;
    margin-right: 1rem;
  }

  &:hover {
    background-color: #c89efc;
  }
}
