.Container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background-color: #cf6679;
  color: #ffffff;
  border-radius: 0.7rem;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  z-index: 20;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 50%);
  text-align: center;
}
